fastapi
uvicorn
langserve
langchain
langchain-text-splitters
langchain-openai
langchain-ollama
langgraph
langgraph-checkpoint-postgres
psycopg-binary
pydantic
loguru
asyncpg
psycopg_pool
tenacity
mcp
markitdown[docx]>=0.0.1a3
python-docx
python-dotenv
zstandard
qdrant-client==1.12.2
sqlalchemy
greenlet
duckduckgo-search
python-jose[cryptography]
bcrypt
python-multipart
passlib[bcrypt]
neo4j
llama-index
llama-index-embeddings-langchain
llama-index-llms-openai-like
