fastapi
uvicorn
langserve
langchain
langchain-openai
langchain-ollama
langgraph
langgraph-checkpoint-postgres
psycopg-binary
pydantic
loguru
asyncpg
psycopg_pool
tenacity
mcp
python-dotenv
zstandard
qdrant-client
sqlalchemy
greenlet
duckduckgo-search
python-jose[cryptography]
bcrypt
python-multipart
passlib[bcrypt]
